In [9]:
import os
import numpy as np
import pandas as pd

dir_data = './data'
f_app = os.path.join(dir_data, 'application_test.csv')
app_train = pd.read_csv(f_app)
#資料的 row 數以及 column 數
app_train.shape

(48744, 121)

In [10]:
#列出所有欄位
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB

In [11]:
#截取部分資料
app_train.iloc[0:2,0:2]

   SK_ID_CURR NAME_CONTRACT_TYPE
0      100001         Cash loans
1      100005         Cash loans