In [55]:
import pandas as pd
import numpy as np

country=["China","Taiwan","America","India","Russsia"]
num=np.random.randint(low=1000000,high=1000000000,size=5)
data = {'國家': country ,
        '人口': num }
data_frame = pd.DataFrame(data)
data_frame.sort_values(by = '人口')

        國家         人口
3    India    6823410
1   Taiwan  192929256
4  Russsia  308936138
0    China  507507891
2  America  935900145

In [56]:
rank=data_frame.sort_values(by = '人口',ascending=False)

In [57]:
rank.iloc[0:1,0:2]

        國家         人口
2  America  935900145